a,
a:active,
a:focus,
a:hover,
embed,
object {
	outline: 0
}
.headingForLogin{
	padding-top: 2px;
}
button::-moz-focus-inner {
	border: 0
}
.display-inline-block{
    display: inline-block;
}
body{
	text-align: center;
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
	}
	legend{
	float: left;
	font-size: 16px;
	}
	P{
	padding: 0px;
	margin: 0 auto;
	}
#p1{
	text-align: center;
	margin-top: 60px;
}
.formblock{
	padding: 10px;
	flex: auto;
	}
.btn-register{
	margin: 0 auto;
}
.username,.password,.btn-submit{
	text-align: center;
	margin-top: 5px;
	}
	
.username{
	margin-top: 15px;
	}
#divLoginContainer{
box-shadow: 2px 5px 5px 5px #888888;
}
#divLoginBlock{
text-align: center;
background-color: rgb(255, 255, 255);
}
#divRegisterBlock{
text-align: center;
background-color: rgba(245, 0, 0, 0.37);
}
.btn-submit,.btn-register{
	background-color:white;
	}
	.btn-submit:hover{
	background-color: #129CF3;
	transition-duration: 1s;
	box-shadow: 0px 5px rgba(31,31,31,0.75);
	} 

@media (min-width:1281px) {
	#divLoginContainer {
		width: 800px;
    }
    #divLoginBlock{
        width: 396px;
    }
    #divRegisterBlock{
		width: 396px;
		float: right;
		height: 163px;
    }
}

@media (min-width:1025px) and (max-width:1280px) {
	#divLoginContainer {
		width: 600px
    }
    #divLoginBlock{
        width: 296px;
    }
    #divRegisterBlock{
		width: 296px;
		float: right;
		height: 162px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
	#divLoginContainer {
		width: 400px
    }
    #divLoginBlock{
        width: 196px;
    }
    #divRegisterBlock{
		width: 196px;
		float: right;
		height: 200px;
    }
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
	#divLoginContainer {
		width: 400px;
    }
    #divLoginBlock{
        width: 196px;
    }
    #divRegisterBlock{
		width: 196px;
		float: right;
		height: 200px;
    }
}

@media (min-width:481px) and (max-width:767px) {
	#divLoginContainer {
		width: 100%
    }
    #divLoginBlock{
        width: 100%;
    }
    #divRegisterBlock{
		width: 100%;
		padding-bottom:20px;
    }
}

@media (min-width:320px) and (max-width:480px) {
	#divLoginContainer {
		width: 200px;
    }
    #divLoginBlock{
		width: 100%;
    }
    #divRegisterBlock{
		width: 100%;
		padding-bottom: 5px;
    }
}
.fixed-footer {
    width: 100%;
	position: fixed;
	bottom: 10px;
	left: 0;
}
.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.text-center {
	text-align: center
}

.align-center {
	margin: auto
}

/*-------------------------------------------back up ----------------------------------------------
 body {
	height: 98%;
	width: 98%;
	background-image: url(squares.png);
	background-repeat: repeat;
	font-family: "Trebuchet MS", Helvetica, sans-serif
} 
/* .border-black{
    background-color:rgb(0, 0, 0);
}
.border-green{
    border: 1px solid rgb(0, 0, 0);
}
.border-blue{
    border: 1px solid rgb(255, 255, 255);
} 
button {
	cursor: pointer;
	-webkit-appearance: button;
	border-radius: 5px;
	background: #f3d078;
	background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
	background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
	width: 130px
}
button:hover {
	background: #f0c762
} 
#divLoading.display {
	display: block
}
#divLoading,
#divLoading.none {
	display: none
}
#divLoading {
	position: fixed;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, .8);
	z-index: 99
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0)
	}
	to {
		-webkit-transform: rotate(360deg)
	}
}
@keyframes spin {
	from {
		transform: rotate(0)
	}
	to {
		transform: rotate(360deg)
	}
}
#divLoading::after {
	content: '';
	display: block;
	position: absolute;
	left: 48%;
	top: 40%;
	width: 40px;
	height: 40px;
	border-style: solid;
	border-color: transparent #000 #000;
	border-width: 4px;
	border-radius: 50%;
	-webkit-animation: spin .8s linear infinite;
	animation: spin .8s linear infinite
} 
#divMainContainer {
	padding: 20px;
	height: 100%;
	width: calc(100%-20px)
}
#spanErrorMsg {
	-webkit-transition: opacity 350ms ease-in-out;
	-moz-transition: opacity 350ms ease-in-out;
	-o-transition: opacity 350ms ease-in-out;
	-ms-transition: opacity 350ms ease-in-out;
	transition: opacity 350ms ease-in-out
}
.loginblock{
float:left;
background-color: rgb(194, 194, 194);
height:100%;
}
.registerblock{
background-color:rgb(109, 97, 97);
padding:52px 52px;
height:100%;
}*/